extends layout

block content 
  h3 We build the App of your need 
  p We encourage you to tell us what is in yor mind. 
  p In the left side links you can find our terminated projects, team members and their skill 
  br 
  p We are a team strongly goal oriented. We have finished several projects: 
  ul
    each val in ['Control systems','Monitoring control systems', 'Web sites', 'Electronics', 'Design'] 
      li= val
      br
