extends layout

block content
  
  style(type="text/css").
    img{
      width: 75px;
      margin: 3px;
    }

    ul{
      list-style-type:none;
      white-space:nowrap;
      overflow-x:auto;
    }

    li{
      display:inline;
    }

  
  div.
   <ul>
     <li><a href="/images/fbr2.jpg"><img src="/images/fbr2.jpg" title="FBR" alt="FBR photo"></a></li>
     <li><a href="/images/fark2.jpg"><img src="/images/fark2.jpg" title="FARK" alt="FAK photo"></a></li>
     <li><img src="/images/fmrk1.jpg" title="FMRK" alt="Manuel photo"></li>
     <li><img src="/images/fmrk2.jpg" title="GDM" alt="Guan photo"></li>
   </ul>
  
  br
  
  h5=device
  h6 MSc. Frangil B. Ramírez 
  p(style="text-align:justify")  Systems engineer with postgraduate degree in  
    |  #[i #[strong Advanced Control]] with over twenty years of working expirience as a controls engineer, researcher and university lecturer 
    |  in software engineering. 
    br
    | Has  successfully developed projects in 
    strong Germany, Romania and Venezuela.
    br 
    |  The expertise in design, development, implementing and integrating systems using various 
    |  technologies and methodologies has been applied to industrial production and also to research experiments.

  br
  br
  
  h6 Alicia Koteich
  p(style="text-align:justify;") Industrial engineer with expirience in clean energy projects.

  br
  br
 
  h6 Manuel Ramirez
  p(style="text-align:justify;") Bachelor of Science candidate (Math & IT) with programming expierence in 
    |  Python, Lua, and HTML, Relational Databases experience, Calculus and Linear Algebra instruction, 
    br  
    | English speaker combine with Portuguese knowledge.

  br
  br
 
  
  h6 Guancito Di Sarli Mata, el hijo de mama. Electronic engineer with PLC (SPS-Siemens) expirience.
