-var teamImages = {'FBR':'/images/fbr2.jpg'};
-var teamSrc = [{title:'FBR',ref:'#FBRa',src:'/images/fbr2.jpg'}];
a#FullCv  
div.section
    div.px-3(class='row ' style='display:inline; padding:1em')
      div
        hr
      if (device === "Desktop/Tablet")
        div(class='col-sm-8' )
          p 
          h3 
            u #[strong CV] 
          h6 #[em MSc. Frangil B. Ramírez ]: MSc. in Advanced Control 
                    | University of Manchester Institute of Science and Technology - UMIST, Manchester (UK).
          h6 Systems Engineer, Universidad de Los Andes, Mérida-Venezuela.
      if (device === "Mobile")
          //p   #{device}
          div.px-3()
            div( )
              p 
              h4 
                u #[strong CV] 
            div(style='text-align:left')
              div(style='display:inline-block; vertical-align:middle; ')
                  img(src= '/images/fbr2.jpg', title='FBR', alt='FBR' + "photo" style='padding-right:0px; max-width:60%; height:auto')
              div(style='display:inline-block; vertical-align:middle; padding-left:10px; font-size:7px')
                  h6 #[em MSc. Frangil B. Ramírez ] 
                  p  MSc. in Advanced Control,
                       | University of Manchester Institute of Science and Technology - UMIST, 
                       br
                       |Manchester (UK).
                  p Systems Engineer,
                       | Universidad de Los Andes, Mérida-Venezuela
          
        
    
    div(style=' margin-left:15px; width:100%')
        div.tr-team(id='FBR' class='row px-0' style="display:run-in; width:100%; box-sizing: border-box")
          div.team-disp-content(style=' margin-left:15px;')
                a#FBRa 
                p  Worked on differente projects, different fields:
                p(style=" padding-left:5px")  Systems engineer with postgraduate degree in  
                  |  #[i #[strong Advanced Control]] with over twenty years of working expirience as a controls engineer, researcher and university lecturer 
                  |  in software engineering. 
                  br
                  | Successfully developed projects in 
                  strong Germany (High Voltage Monitoring/Control), Romania (See Portafolio section) and Venezuela (Control system for primary aluminum production).
                  br 
                  |  The expertise in design, development, implementing and integrating systems using various 
                  |  technologies and methodologies has been applied to industrial production and also to research experiments.
                p Systems engineer specialized in advanced control with wide experience working as
                   | a controls engineer, researcher and university lecturer in software engineering.
                   | The expertise in design, development, implementing and integrating systems using 
                   | various technologies and methodologies has been applied to industrial production and 
                   | also to research experiments. Controls Engineer responsible for the 
                   | controls of the gamma-beam system at ELI-NP (Extreme Light Infrastructure, Nuclear Physics), Romania.
                p Work experience:	
                p #[strong Controls Engineer], ELI-NP, Magurele (Romania). Responsible for the controls of:
                   |the GBS (gamma-beam system).
                   |Archiving (EPICS-MariaDB), retrieving and plotting data and images (web-based).
                   |Equipment inventory (Mongo, web-based).
                   |Experimental setups of the gamma driven experiments department.
                   |(cooling and heating control with LN2 and resistant applied heat process).
                p Software development, architecture, EPICS controls, LabView, C++, Python, InMemDb,
                  | sockets, system integration, custom comm protocols, threads, InFluxDB, Grafana.
                p #[strong High Voltage Control System] . 
                  |Collaboration control activities between ELI-NP (Romania) – GSI/FAIR (Germany) for developing voltage controls applications for Nuclear Physics (EPICS, C++/CLI).
                p #[strong Computer science lecturer]
                  |Universidad Católica Andrés Bello, Puerto Ordaz (Venezuela),
                  |Universidad Experimental de Guayana, Puerto Ordaz (Venezuela)
                p #[strong Technical Development Specialist/researcher].
                  |CVG Venalum, Puerto Ordaz (Venezuela)
                p Designing and developing complex systems for Aluminum Smelters:
                  |A distributed Control System for High Amperage Reduction Cells, improving the 
                  |overall efficiency of the production process Control System for baking furnaces in the anode plant.
                  | Design of Control System for aluminum wire-drawing machines.
                p Leadership in control systems automation projects, programming.
                  br  
                  | Software design and programming leader and guiding in software projects.
                  br
                  | Controls applications design, programming, web applications, agile, classical methodologies, systems analysis, modeling, lecturer.
                  br
                  | Automation, hardware wiring, electronic and electrical circuits diagrams expertise, troubleshooting, international team work, goal oriented independent worker, network and serial communications.
                p AGILE, SCRUM, XP, Traditional, CMMI, OOP, Patterns, MDD, TDD, Git. 
                  | Fltk with IPC, network and serial communications protocols (EPICS, ModBus, IP UDP, custom comm protocols), Opto22, PC104, DCS, Circuits diagrams, wiring. 
                  | Adaptive algorithms, motors, Matlab, pc104.
                p Visual Studio, Node.js, Mongo DB, MariaDB, Postgres, Express, LabView, cRio/DAQ, C++/CLI, C#, Raspberry Pi, EPICS controls, Python, sockets, InMemDb, Git. (Web development full-stack). 
                  | C/C++/CLI, .NET, Javascript, LabView, Python, InfluxDB, SQLite, HTML, Node.js, Express, Pug, SQL, Mongo DB, 
                  | Grafana. QNX, Linux, Windows.

                p #[strong Publications]:
                | - The Control and archiving System for the Gamma Beam profile station at ELI-NP, G. Chen, F. Ramirez, V. Iancu, C. Matei, G. Turturica, ICALEPCS 2021, October 16-22, 2021, Shanghai, China.
                | https://accelconf.web.cern.ch/icalepcs2021/doi/JACoW-ICALEPCS2021-TUPV028.html 
                br 
                | - CVG-VENALUM POTLINE CONTROL AND SUPERVISORY INTEGRATED SYSTEM VEN-PCSIS. Light Metals 2010 TMS (The Minerals, Metals & Materials Society) 2010.
                | José Ramones, Frangil Ramírez, María Colmenares, Jesús Lárez, Jesús González.






          
                
        

