
//-var bodystart = "body-start-" + device
div.section()
a#Portafolio
p
  div(style=' margin-left:15px; width:100%' class='row')
    div
        hr
    div
        p
        h3 
          u #[strong Portafolio]
        h5 Here you have a brief description of my "in production" projects.
        p  Several projects in different fields:
        
    div(id='desk-proj-tab')
     table
      tr
        td
          a(href='/images/Ln2MonitorIntegration.png')
            img(src= "/images/Ln2MonitorIntegration.png")
        td(style="text-align:justify") Control System AND monitoring/alerting integration for Nuclear Physics; using LabView (cRIO), EPICS, Python, InfluxDB, Grafana.
      tr
        td
          a(href='/images/VC_NetAppArq.jpg')
            img(src= "/images/VC.jpg")
        td(style="text-align:justify") High voltage control application for Nuclear Physics, using EPICS, C++/CLI, C#, Visual studio, UML.
      tr
        td
          a(href='/images/projLN2SoftArq.jpg')
            img(src= "/images/LN2.jpg")
        td(style="text-align:justify")
          span Cooling and heating control with LN2 and resistant applied heat process, using LabView, Python and EPICS.
               br
               | Modeling: UML
      tr
        td
          a(href='/images/DBScreenShot_CDBandNu27.png')
            img(src= "/images/DBScreenShot_CDBandNu27.png")
        td(style="text-align:justify") Web-based data base systems: Components DB and Data Archiving with ploting (Authentication, Relational and No-Relational DB with MVC pattern).
      tr
        td
          a(href='/images/Pot_Control.jpg')
            img(src= "/images/PotCtrl.jpg")
        td(style="text-align:justify")
          span Design and develop complex control systems for Aluminum Smelters: A distributed Control System for High Amperage Aluminum Reduction Cells, using C, C++, linux, Opto 22 on a pc104 industrial PCB.
      tr
        td
          a(href='/images/CtrlDsgn.jpg')
            img(src= "/images/OtherProjs.jpg" )
        td(style="text-align:justify")
          p - Consultant for Control Systems: anode baking furnaces in an aluminum plant. 
            A DCS project (PLC and DC) for an aluminum casting plant.
          p - Control system design: rod sanding machine in an aluminum plant .
          